html, body {
	width: 100%;
	height: 100%;
}
body {
	padding: 2%;
	padding-top: 0;
}
.green-box {
	background-color: green;
	width: 100%;
	height: 100%;
	padding: 2%;
	padding-top: 0%;
}
.text-align {
	text-align: center;
}
.blue-box {
	background-color: blue;
	width: 100%;
	height: 100%;
	padding: 2%;
	padding-top: 0;
}
.title-1 {
text-align: center;
height: 20px;
}
.title-2 {
text-align: center;
color: #fff;
}
.yellow-box1 {
	background-color: yellow;
	width: 100%;
	height: 35%;
	margin-bottom: 2%;
	padding: 2%;
}
.yellow-box2 {
	background-color: yellow;
	width: 100%;
	height: 55%;
}
.white-box {
	display: inline-block;
	width: 20%;
	height: 100%;
	background-color: #fff;
	padding: 2%;
}
.pink-box {
	width: 100%;
	height: 100%;
	background-color: pink;
}
.pink-p {
	text-align: center;
}